{% extends "layout.html" %}

{% block title %}Delete Doctor{% endblock %}

{% block content %}
<br>
<h3>Fill in the required details</h3>

<form style="padding: 15px;" action="/deldoctor" method="POST">
  <div class="form-group">
    <label for="id">ID</label>
    <input type="number" class="form-control" id="name" placeholder="Enter ID" value="{{ request.form['id'] }}" name = "id">
    <small id="id" class="form-text text-muted">Enter Doctor ID-Number</small>
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


{% endblock %}