<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <style>
    .pad {
      padding: 20px;
    }

    body {
      background-color: #FAD4D4;
    }

    footer {
      position: absolute;
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 40px;
      padding: 25px;
      background-color: #EF9F9F;
    }
  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
  <!-- Navigation Bar -->
<!--  <nav class="navbar navbar-expand-xl navbar-dark" style="background-color: #F47C7C;">-->
<!--    <a class="navbar-brand pad" href="{{ url_for("home") }}"><svg xmlns="http://www.w3.org/2000/svg" width="40"-->
<!--        height="40" fill="currentColor" class="bi bi-heart-pulse" viewBox="0 0 16 16">-->
<!--        <path fill-rule="evenodd"-->
<!--          d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053.918 3.995.78 5.323 1.508 7H.43c-2.128-5.697 4.165-8.83 7.394-5.857.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17c3.23-2.974 9.522.159 7.394 5.856h-1.078c.728-1.677.59-3.005.108-3.947C13.486.878 10.4.28 8.717 2.01L8 2.748ZM2.212 10h1.315C4.593 11.183 6.05 12.458 8 13.795c1.949-1.337 3.407-2.612 4.473-3.795h1.315c-1.265 1.566-3.14 3.25-5.788 5-2.648-1.75-4.523-3.434-5.788-5Zm8.252-6.686a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8H.5a.5.5 0 0 0 0 1H4a.5.5 0 0 0 .416-.223l1.473-2.209 1.647 4.118a.5.5 0 0 0 .945-.049l1.598-5.593 1.457 3.642A.5.5 0 0 0 12 9h3.5a.5.5 0 0 0 0-1h-3.162l-1.874-4.686Z" />-->
<!--      </svg></a>-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
<!--      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->

<!--    <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--      <ul class="navbar-nav mr-auto">-->
<!--        <li class="nav-item active">-->
<!--          <a class="nav-link" href="{{ url_for("home") }}">Home</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="{{ url_for("doctor") }}">Doctors</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="{{ url_for("patient") }}">Patients</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--                {% if session.get('doctor_id') %}-->
<!--                &lt;!&ndash; If a doctor is logged in, show the logout button &ndash;&gt;-->
<!--                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>-->
<!--                {% elif session.get('user') %}-->
<!--                &lt;!&ndash; If a patient is logged in, show the logout button &ndash;&gt;-->
<!--                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>-->
<!--                {% else %}-->
<!--                &lt;!&ndash; If no one is logged in, show the login button &ndash;&gt;-->
<!--                <a class="nav-link" href="{{ url_for('login') }}">Login</a>-->
<!--                {% endif %}-->
<!--        </li>-->

<!--      </ul>-->
<!--    </div>-->
<!--  </nav>-->
<nav class="navbar navbar-expand-xl navbar-dark" style="background-color: #F47C7C;">
    <a class="navbar-brand pad" href="{{ url_for("home") }}"><svg xmlns="http://www.w3.org/2000/svg" width="40"
            height="40" fill="currentColor" class="bi bi-heart-pulse" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053.918 3.995.78 5.323 1.508 7H.43c-2.128-5.697 4.165-8.83 7.394-5.857.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17c3.23-2.974 9.522.159 7.394 5.856h-1.078c.728-1.677.59-3.005.108-3.947C13.486.878 10.4.28 8.717 2.01L8 2.748ZM2.212 10h1.315C4.593 11.183 6.05 12.458 8 13.795c1.949-1.337 3.407-2.612 4.473-3.795h1.315c-1.265 1.566-3.14 3.25-5.788 5-2.648-1.75-4.523-3.434-5.788-5Zm8.252-6.686a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8H.5a.5.5 0 0 0 0 1H4a.5.5 0 0 0 .416-.223l1.473-2.209 1.647 4.118a.5.5 0 0 0 .945-.049l1.598-5.593 1.457 3.642A.5.5 0 0 0 12 9h3.5a.5.5 0 0 0 0-1h-3.162l-1.874-4.686Z" />
        </svg></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for("home") }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for("doctor") }}">Doctors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for("patient") }}">Patients</a>
            </li>
<!--            <li class="nav-item">-->
<!--                {% if session.get('doctor') %}-->
<!--                &lt;!&ndash; If a doctor is logged in, show the logout button &ndash;&gt;-->
<!--                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>-->
<!--                {% elif session.get('user') %}-->
<!--                &lt;!&ndash; If a patient is logged in, show the logout button &ndash;&gt;-->
<!--                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>-->
<!--                {% else %}-->
<!--                &lt;!&ndash; If no one is logged in, show the login button &ndash;&gt;-->
<!--                <a class="nav-link" href="{{ url_for('login') }}">Login</a>-->
<!--                {% endif %}-->
<!--            </li>-->
          <li class="nav-item">
                {% if session.get('user') %}
                <!-- If a doctor or patient is logged in, show the logout button -->
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                <!-- If no one is logged in, show the login button -->
                <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
  <!-- Page Content -->
  {% block content %}{% endblock %}

  <!-- Footer -->
  <footer>
    <div>
      <h6>©Group - #</h6>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGg9SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>
